.detailContainer {
    display: flex;
    place-content: center;
    /* background: repeating-linear-gradient(to bottom,
            #0f0a1e,
            #0f0a1e 2px,
            rgba(15, 10, 30, 0.03) 2px,
            rgba(15, 10, 30, 0.03) 4px);
    background-color: #3a3a3a; */
    height: 100vh;
    background-image: url('../../../public/pasto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
    
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    width: 30vw;
    height: 90vh;
    background-color: #DC143C;
    margin-top: 5vh;
    margin-right: 5px;
    border: 2px solid black;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 10px;
}
.border{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    height: 80%;
    width: 80%;
    border-radius: 10px;
}

.contBorder{
    display: flex;
    margin: 10px;
    place-content: center;
    background-color: #B22222;
    width: 65vw;
    border: 2px solid black;
    border-radius: 10px;
}

.info{
    background-color: #DCDCDC;
    width: 80%;
    height: 25vh;
    border: 5px solid #919191;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iconStyle{
    display: flex;
    place-content: center;
    margin-left: -15px;
}

.iconStyle span{
    padding: 20px;
}

.infoContainer img {
    filter: drop-shadow(10px 5px 3px rgba(15, 15, 15, 0.329));
    height: 60%;
    width: 80%;
    background: repeating-linear-gradient(to bottom,
            #0f0a1e,
            #0f0a1e 2px,
            rgba(15, 10, 30, 0.03) 2px,
            rgba(15, 10, 30, 0.03) 4px);
    background-color: #3a3a3a;
    border: 5px solid #919191;
}


.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    height: 90vh;
    width: 30vw;
    background-color: #DC143C;
    margin-top: 5vh;
    margin-left: 5px;
    color: #000000;
    text-shadow: 1px 1px 5px #525252;
    border: 2px solid black;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
}

.statsBar {
    width: 50%;
    height: 10px;
}

.borderStats{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    background-color: #DCDCDC;
}

.typeNormal {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #A8A878;
    color: #ffffff;
    border: 2px solid black;
}

.iconNormal{
    background-color: #A8A878;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/normal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeFire {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #F08030;
    color: #ffffff;
    border: 2px solid black;
}

.iconFire{
    margin: 5px;
    border-radius: 50%;
    background-color: #F08030;
    padding: 20px;
    background-image: url('../../../public/icons/fire.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeWater {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #6890F0;
    color: #ffffff;
    border: 2px solid black;
}

.iconWater{
    background-color: #6890F0;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/water.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeElectric {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #F8D030;
    color: #ffffff;
    border: 2px solid black;
}

.iconElectric{
    background-color: #F8D030;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/electric.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeGrass {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #78C850;
    color: #ffffff;
    border: 2px solid black;
}

.iconGrass{
    background-color: #78C850;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/grass.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeIce {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #98D8D8;
    color: #ffffff;
    border: 2px solid black;
}

.iconIce{
    background-color: #98D8D8;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/ice.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeFighting {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #C03028;
    color: #ffffff;
    border: 2px solid black;
}

.iconFighting{
    background-color: #C03028;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/fighting.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typePoison {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #A040A0;
    color: #ffffff;
    border: 2px solid black;
}

.iconPoison{
    background-color: #A040A0;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/poison.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeGround {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #E0C068;
    color: #ffffff;
    border: 2px solid black;
}

.iconGround{
    background-color: #E0C068;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/ground.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeFlying {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #A890F0;
    color: #ffffff;
    border: 2px solid black;
}

.iconFlying{
    margin: 5px;
    border-radius: 50%;
    background-color: #A890F0;
    padding: 20px;
    background-image: url('../../../public/icons/flying.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}


.typePsychic {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #F85888;
    color: #ffffff;
    border: 2px solid black;
}

.iconPsychic{
    background-color: #F85888;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/psychic.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeBug {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #A8B820;
    color: #ffffff;
    border: 2px solid black;
}

.iconBug{
    background-color: #A8B820;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/bug.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeRock {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #B8A038;
    color: #ffffff;
    border: 2px solid black;
}

.iconRock{
    background-color: #B8A038;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/rock.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeGhost {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #705898;
    color: #ffffff;
    border: 2px solid black;
}

.iconGhost{
    background-color: #705898;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/ghost.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeDark {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #705848;
    color: #ffffff;
    border: 2px solid black;
}

.iconDark{
    background-color: #705848;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeDragon {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #7038F8;
    color: #ffffff;
    border: 2px solid black;
}

.iconDragon{
    background-color: #7038F8;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/dragon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeSteel {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #B8B8D0;
    color: #ffffff;
    border: 2px solid black;
}

.iconSteel{
    background-color: #B8B8D0;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/steel.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}

.typeFairy {
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #EE99AC;
    color: #ffffff;
    border: 2px solid black;
}

.iconFairy{
    background-color: #EE99AC;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    background-image: url('../../../public/icons/fairy.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px
}


/* Estilo adicional para dar color a las barras de progreso */
progress[value] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #2F4F4F;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(50,205,50);
    /* Cambia el color a verde */
}

/* Estilo adicional para dar color a las barras de progreso en Firefox */
progress[value]::-moz-progress-bar {
    background-color: #22aac2
}



.btnHome{
    border-radius: 100%;
    background-color: #00b7ff;
    position: relative;
    padding: 10px;
}

.btnNext{
    border-radius: 100%;
    background-color:  	 	#00FF00;
    position: relative;
    padding: 10px;
}

.btnPrev{
    border-radius: 100%;
    background-color:  	 	#00FF00;
    position: relative;
    padding: 10px;
}

.info h1{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.infoContainer h2{
    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}