.container {
    font-family: 'Press Start 2P', cursive;
    background: repeating-linear-gradient(to bottom,
    #2F4F4F,
            #0f0a1e 2px,
            rgba(15, 10, 30, 0.03) 2px,
            rgba(15, 10, 30, 0.03) 4px);
    background-color: #3a3a3a;
}

.h1Name{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #4eff2a,
        -4px 0 0 #df4a42,
        2px 0 0 #91fcfe,
        4px 0 0 #341492;
    animation: blink 1s steps(4, start) infinite;
}

.h2Name {
    position: absolute;
    top: 450px;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    margin: auto;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #4eff2a,
        -4px 0 0 #df4a42,
        2px 0 0 #91fcfe,
        4px 0 0 #341492;
    transition: 0.4s ease-out;
}


.h3Name{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    color: rgb(255, 230, 0);
    text-align: center;
    margin: auto;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #ff2a2a,
        -4px 0 0 #426cdf,
        2px 0 0 #91fcfe,
        4px 0 0 #29175e;
}

.container img{
    margin-top: 50px;
    opacity: 0.8;
}



@keyframes blink {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}