.btnSearch {
    background-color: #FFD700; /* Amarillo, similar al color Pokémon */
    color: #ffffff; /* Color de texto oscuro */
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;

}

.btnSearch:hover {
    background-color:  	#DC143C; /* Amarillo más claro al pasar el mouse */
}


.btnReset:hover {
    background-color: #ff5252; /* Rojo más claro al pasar el mouse */
}
/* 
form input[type='search']{
    border-radius: 20px;
    padding: 5px;
    transition: border-color 0.7s, box-shadow 0.3s;
}
form input[type='search']:focus {
    outline: none;
    border-color: #ff5252;
    box-shadow: 0 0 5px #ff5252;
} */