.checkContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(185, 185, 185);
    width: 10vw;
    height: 50vh;
    position: absolute;
    border-radius: 10px;
    font-size: 10px;
    margin: 20px;
    padding: 10px;
}

.filterContainer{
  display: flex;
  align-items: center;
  place-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color:  	#6495ED;
  width: 50%;
  border-radius: 0 0 10px 10px;
  border: 2px solid black;
  border-top: 0;
}

.buttonFilter {
 
    padding: 5px 10px; /* Añade un poco de espacio interno al botón */
    background-color: #FFD700; /* Cambia el color de fondo del botón */
    color: black; /* Cambia el color del texto del botón a blanco */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Añade bordes redondeados al botón */
    cursor: pointer;
  }
  
  .checkContainer input[type="radio"] {
    padding: 5px;
    cursor: pointer;
    -webkit-appearance: none; /* Elimina los estilos predeterminados del navegador */
    -moz-appearance: none;
    appearance: none;
    width: 10px; /* Ajusta el tamaño del radio */
    height: 10px;
    border-radius: 50%; /* Hace que el radio sea redondo */
    border: 1px solid  	#DC143C; /* Agrega un borde */
    outline: none;
    transition: 0.3s; /* Agrega una transición suave */
  }
  
  /* Estilos para los checkboxes cuando están marcados */
  .checkContainer input[type="radio"]:checked {
    background: linear-gradient(to bottom, #ff0000 0%, #ff0000 50%, #ffffff 50%, #ffffff 100%);
    border: 1px solid #202020;
  }
  
  /* Estilos para los labels cuando se pasan por encima */
  

  .checkContainer label:hover {
    transform: scale(1.1);
    color: #eb0909;
  }

select{
  font-family: 'Press Start 2P';
  margin: 0 5px;
  border-radius: 20px;
}

option{
  font-family: 'Press Start 2P';
  background-color:  	#B0C4DE;
}

