.checkContainer{
    display: flex;
    place-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
   
}

.buttonFilter {
    margin-top: 10px;
    margin-left: 250px;
    padding: 5px 10px; /* Añade un poco de espacio interno al botón */
    background-color: #4caf50; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón a blanco */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Añade bordes redondeados al botón */
    cursor: pointer;
  }
  
  .checkContainer input[type="radio"] {
    padding: 5px;
    cursor: pointer;
    -webkit-appearance: none; /* Elimina los estilos predeterminados del navegador */
    -moz-appearance: none;
    appearance: none;
    width: 10px; /* Ajusta el tamaño del radio */
    height: 10px;
    border-radius: 50%; /* Hace que el radio sea redondo */
    border: 1px solid rgb(243, 207, 2); /* Agrega un borde */
    outline: none;
    transition: 0.3s; /* Agrega una transición suave */
  }
  
  /* Estilos para los checkboxes cuando están marcados */
  .checkContainer input[type="radio"]:checked {
    background-color: rgb(0, 253, 114);
    border: 1px solid #4caf50;
  }
  
  /* Estilos para los labels cuando se pasan por encima */
  .checkContainer label:hover {
    transform: scale(1.05);
    color: #eb0909;
  }
