.pagContainer .pagButton {
    background-color: #5F9EA0;
    border-radius: 10px;

    transition: 0.3s;
    border: 1px solid black;
}

.pagContainer .pagButton:hover {
    transform: scale(1.1, 1.1);
}

.pagContainer .currentPage {
    background-color: #00CED1; 
    color: #fff;
    padding: 4px;
}

.pagContainer button{
    background-color: #5F9EA0;
    padding: 5px;
}